@import url("https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "PT Sans", sans-serif;
  font-family: fantasy;
  color: white;
  background: #388087;
  font-family: "Josefin Slab", serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: #292f38;
  width: 25%;
  min-width: 450px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}

.header h1 {
  color: #6fb3b8;
  font-weight: 800;
  text-align: center;
  margin: 10px 20px 60px 20px;
  font-family: "Josefin Slab", serif;
}

.task-input {
  width: 100%;
  min-width: 250px;
  padding: 15px 10px 10px 20px;
  font-size: 15px;
  color: #ccc;
  background-color: #1d222b;
  border: 1px solid #444;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 10px;
}

.add-task-btn {
  min-width: 100px;
  background-color: #388087;
  color: #ccc;
  border: none;

  font-size: 16px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
}

.task-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.btn-style i {
  font-size: 16px;
  color: #bbb;
  margin-right: 20px;
}

.btn-delete:focus,
.btn-style:focus {
  outline: none;
}

.btn-delete i {
  font-size: 16px;
  color: #bbb;
  margin-right: 20px;
}

.clear-btn {
  width: 100px;
  height: 35px;
  background-color: #388087;
  color: #ccc;
  border: none;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
}

.reset-btn {
  width: 100px;
  height: 35px;
  background-color: #388087;
  color: #ccc;
  border: none;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
}

.red {
  color: red !important;
}

.reset-btn:hover,
.add-task-btn:hover,
.clear-btn:hover {
  background-color: #46959c;
  color: #ccc;
  color: white;
}

.list {
  width: 90%;
  margin: auto; 
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

.sub-header h4 {
  color: #6fb3b8;
  font-weight: 800;
  text-align: center;
  margin: 20px;
}

.list-input {
  font-size: 25px;
  background-color: transparent;
  color: white;
  border: 0;
  width: 220px;
}

.list-input:focus{
  outline:none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  list-style-type: none;
  font-size: 25px;
}

.todolist {
  height: 50%
}